# Config arguments for the project

# Data path
data:
  # Data preprocessing paths
  srs_to_otu_parquet: "data_preprocessing/mapref_data/samples-otus-97.parquet"
  otu_to_dna_parquet: "data_preprocessing/mapref_data/otus_97_to_dna.parquet"
  # Dataset path
  dataset_path: "data_preprocessing/datasets/tanaka/month_2_proxy.csv" # path to preprocessed data
  # Embeddings paths
  dna_csv_dir: "data_preprocessing/dna_sequences"
  dna_embeddings_dir: "data_preprocessing/dna_embeddings"
  microbiome_embeddings_dir: "data_preprocessing/microbiome_embeddings"
  # MicrobiomeTransformer checkpoint path
  mirobiome_transformer_checkpoint: "data/checkpoint_epoch_0_final_epoch3_conf00.pt"
  # ProkBERT model name
  embedding_model: "neuralbioinfo/prokbert-mini-long"
  batch_size_embedding: 6
  device: "cpu"  # cpu, cuda, or mps
  # ... other data args

# model
model:
  classifier: "linear regression" # [linear regression, ...]
  classifier_params:
    max_iter: 1000
    solver: "lbfgs"
    class_weight: "balanced"
    random_state: 42
    # ... other classifier params

# evaluation
evaluation:
  metrics: ["accuracy", "precision", "recall", "f1", "roc_auc"] # other metrics
  cv_folds: [2, 3, 5, 10] # number of folds for cv
  # ... other evaluation params